body{
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    min-height: 100vh;
}

.header{
    background-color: #86A789;
    padding: 10px;
    color: #FDFFAB;
    font-size: 48px;
}

.footer{
    background-color: #D2E3C8;
    color:#A94438;
    padding: 10px;
}

.main{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4F6F52;
}

.calculatorContainer{
    border:1px solid #706c55;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 3px;
    padding-bottom: 4px;
    height: 54vh;
    width: 50vh;
    background-color: #D9EDBF;

}

.eraserContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4vh;
    width: 48vh;
    gap: 13px;
}

.resultContainer{
    border:1px solid #A94438;
    height: 9vh;
    width: 44.5vh;
    justify-self: flex-start;
    margin-bottom: 1vh;
    background-color: #FFB996;
}

.mainGrid{
    height:36vh;
    width: 48vh;
    flex-wrap: wrap;
}

.gridBtn{
    width: 10vh;
    height:8vh;
    margin: 5px;
    font-size: 36px;
    border-radius: 0;
    background-color: #FDFFAB;
    color: #4F6F52;
}

.eraserBtn{
    width: 45%;
    background-color: rgba(134, 0, 0, 0.63); 
    color:rgba(255, 255, 255, 0.952);
    border:1px solid #D24545;
}

button{
    border: 1px solid #a9433898;
}

button:active {
    background: #35333394;
            box-shadow: inset 0px 0px 5px #646464;
     outline: none;
  }
